vrrp_instance VI_1 {
    state BACKUP
    interface eth0
    virtual_router_id {{ virtual_router_id }}
    priority 100                        # PAY ATTENTION ON PRIORITY!!
    authentication {
        auth_type PASS
        auth_pass {{ lookup('password', 'secrets/keepalived/' + virtual_ip + ' length=64') }}
    }

   virtual_ipaddress {
       {{ virtual_ip }} dev eth0
    }
}
